body {
  background-image: url('./images/fotballbane.jpeg');
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  column-gap: 10px;
  row-gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  justify-items: center;
  max-height: 50vh;
}

.box {
  margin: 10px;
  height: 180px;
  width: 180px;
  /* background-color: white; */
  border-radius: 20px;
}

.isFlipped {
  background-color: aqua;
}

.notFlipped {
  background-color: brown;
}
